version: 2.1
orbs:
  python: circleci/python@2
jobs:
  build:
    docker:
      - image: cimg/python:3.12-node
    steps:
      - checkout
      - python/install-packages
  lint:
    docker:
      - image: cimg/python:3.12-node
    steps:
      - checkout
      - python/install-packages
      - run:
          name: Run linters (pylint)
          command: |
            pip install pylint
            pylint flaskr tests
  test:
    docker:
      - image: cimg/python:3.12-node
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /home/circleci/gcloud-key.json
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /home/circleci/gcloud-key.json
    steps:
      - checkout
      - python/install-packages
      - run:
          name: Set up Google Cloud credentials
          command: |
            echo "$GCLOUD_SERVICE_KEY" > /home/circleci/gcloud-key.json
      - run:
          name: Debug DEEPSEEK_API_KEY
          command: echo "Key set? ${DEEPSEEK_API_KEY:+yes}"
      - run:
          name: Run tests
          command: pytest --junitxml=junit.xml || ((($? == 5)) && echo 'Did not find any tests to run.')
      - store_test_results:
          path: junit.xml
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: deploy
          command: "#e.g. ./deploy.sh"
workflows:
  build-and-test:
    jobs:
      - build
      - lint:
          requires:
            - build
      - test:
          requires:
            - lint
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: circleci_project_setuo
